.main-container {
   display: flex;
   gap: 1rem;
   justify-content: center;
   align-items: center;
   width: max-content;
}


.main-container .logo-image img {
   width: 6rem;
   height: 5rem;
   margin-top: 0;
}

.main-container .logo-content {
   font-family:
      "Poppins", sans-serif;
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

#logo-content-heading {
   font-size: 1.8rem;
   font-weight: 700;
}

#logo-sub-heading {
   font-size: 1.3rem;
   font-weight: 400;
   font-style: italic;
}