#contactCard {
     min-width: 40rem;
     background-color: #000;
     display: flex;
     flex-direction: column;
     /* margin: auto; */
     align-items: center;
     /* padding: 6rem; */
}

#contactCard .inner-contactCard{
     display: flex;
     margin: 5rem;
     flex-direction: column;
     gap: 5rem;
}
.contactInformation {
     display: flex;
     align-items: center;
     gap: 2rem;
     flex-direction: column;
}




.contactInformation .phoneInfo .numbers
{
     display: flex;
     flex-direction: column;
     gap: 0.5rem;

}

.location{
     display: flex;
     align-items: flex-start;
     flex-direction: row;
}

.mailInfo{
     display: flex;
}

.footer-p,
.contact-p,
.mail-p {
     width: 80%;
     font-size: 1.4rem;
     font-weight: 400;
     line-height: 20px;
     color: white;
}

.contactInformation .phoneInfo,
.contactInformation .mailInfo,
.contactInformation .location,
#contactCard .logo {
     /* justify-content: flex-start; */
     width: 100%;
     /* justify-items: flex-start; */
}


.contactInformation .phoneInfo{
     display: flex;
     /* gap: ; */
}
.phoneInfo p{
     width: 100%;
}



@media only screen and (max-width:900px){
     #contactCard{
          min-width: 30rem;
          margin: 3rem;
     }
}