.footer-links {
   display: flex;
   gap: 5rem;
   color: white;
}

.foot-nav {
   text-decoration: none;
   position: relative;
   color: rgba(255, 255, 255, 0.72);

}

.foot-nav::after {
   content: '';
   width: 0;
   height: 1px;
   position: absolute;
   left: 0;
   bottom: -4px;
   border-radius: 2px;
   background-color: red;
   transition: all 0.4s ease-in-out;

}

.foot-nav:hover::after {
   width: 100%;
}



.footer-links p {
   font-size: 2rem;
   font-weight: 700;
}

.footer-links ul li {
   list-style-type: none;
   font-size: 1.3rem;
   font-weight: 400;
   color: rgba(255, 255, 255, 0.72);
   font-style: normal;
   transition: all 0.2s ease-in;
   cursor: pointer;
   line-height: 30px;
   /* 200% */
}

.footer-links li:hover {
   font-weight: 700;
   transform: translateX(5px);

}

.footer-links ul {
   display: flex;
   flex-direction: column;
   /* gap: 1rem; */
}

.all-links,
.contact-link {
   display: flex;
   justify-content: center;
}

.footer-links img {
   margin-top: 1rem;
}

.footer-links .useful-links,
.footer-links .contact-us {
   display: flex;
   flex-direction: column;
   gap: 3rem;
}

.footer-links .link-redline {
   display: flex;
   flex-direction: column;
}


.footer-links img {
   width: 3.5rem;
   height: 0.4rem;
}


@media only screen and (max-width:900px) {
   .footer-links {
      width: 100%;
   }

   #links {
      justify-content: center;
   }
}